# Módulo 5 Tarefa 1
## Base de nascidos vivos do DataSUS
O DataSUS disponibiliza diversos arquivos de dados com relação a seus segurados, conforme a [lei da transparência de informações públicas](https://www.sisgov.com/transparencia-acesso-informacao/#:~:text=A%20Lei%20da%20Transpar%C3%AAncia%20(LC,em%20um%20site%20na%20internet.). 

Essas informações podem ser obtidas pela internet [aqui](http://www2.datasus.gov.br/DATASUS/index.php?area=0901&item=1). Como o processo de obtenção desses arquivos foge um pouco do nosso escopo, deixamos o arquivo SINASC_RO_2019.csv` já como vai ser encontrado no DataSUS. O dicionário de dados está no arquivo `estrutura_sinasc_para_CD.pdf` (o nome do arquivo tal qual no portal do DataSUS).

### Nosso objetivo
Queremos deixar uma base organizada para podermos estudar a relação entre partos com risco para o bebê e algumas condições como tempo de parto, consultas de pré-natal etc.

#### Preparação da base
1. Carregue a base 'SINASC_RO_2019.csv'. Conte o número de registros e o número de registros não duplicados da base. Dica: você aprendeu um método que remove duplicados, encadeie este método com um outro método que conta o número de linhas. **Há linhas duplicadas?**  

2. Conte o número de valores *missing* por variável.  

3. Ok, no item anterior você deve ter achado pouco prático ler a informação de tantas variáveis, muitas delas nem devem ser interesantes. Então crie uma seleção dessa base somente com as colunas que interessam. São elas:
` 
['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 
    'GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5'] 
`
Refaça a contagem de valores *missings*.  

4. Apgar é uma *nota* que o pediatra dá ao bebê quando nasce de acordo com algumas características associadas principalmente à respiração. Apgar 1 e Apgar 5 são as notas 1 e 5 minutos do nascimento. Apgar5 será a nossa variável de interesse principal. Então remova todos os registros com Apgar5 não preenchido. Para esta seleção, conte novamente o número de linhas e o número de *missings*.  

5. observe que as variáveis `['ESTCIVMAE', 'CONSULTAS']` possuem o código `9`, que significa *ignorado*. Vamos assumir que o não preenchido é o mesmo que o código `9`.<br>
6. Substitua os valores faltantes da quantitativa (`QTDFILVIVO`) por zero.  
7. Das restantes, decida que valore te parece mais adequado (um 'não preenchido' ou um valor 'mais provável' como no item anterior) e preencha. Justifique. Lembre-se de que tratamento de dados é trabalho do cientista, e que estamos tomando decisões a todo o momento - não há necessariamente certo e errado aqui.  
8. O Apgar possui uma classificação indicando se o bebê passou por asfixia:
- Entre 8 e 10 está em uma faixa 'normal'. 
- Entre 6 e 7, significa que o recém-nascido passou por 'asfixia leve'. 
- Entre 4 e 5 significa 'asfixia moderada'.
- Entre 0 e 3 significa 'asfixia severa'.  

Crie uma categorização dessa variável com essa codificação e calcule as frequências dessa categorização.  
<br>
9. Renomeie as variáveis para que fiquem no *snake case*, ou seja, em letras minúsculas, com um *underscore* entre as palávras. Dica: repare que se você não quiser criar um *dataframe* novo, você vai precisar usar a opção `inplace = True`.

In [1]:
import pandas as pd
import requests

# 1) seu código aqui
sinasc = pd.read_csv('SINASC_RO_2019.csv')
print(sinasc.shape)
sinasc.drop_duplicates().shape
# Não há duplicados

(27028, 69)

(27028, 69)

In [8]:
# 2) seu código aqui
sinasc.isnull().sum()

ORIGEM          0
CODESTAB      115
CODMUNNASC      0
LOCNASC         0
IDADEMAE        0
             ...
munResUf        0
munResLat       1
munResLon       1
munResAlt       1
munResArea      1
Length: 69, dtype: int64

In [34]:
# 3) seu código aqui
#criando uma nova tabela com o que precisamos
df = sinasc[['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 
 'GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5']]
# recontando os nulos
df.isnull().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE      317
ESCMAE         312
QTDFILVIVO    1573
GESTACAO      1232
GRAVIDEZ        79
CONSULTAS        0
APGAR5         103
dtype: int64

In [35]:
#vamos ver como esta a tabela:
df

,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,QTDFILVIVO,GESTACAO,GRAVIDEZ,CONSULTAS,APGAR5
0,1,19,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0
1,1,29,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,9.0
2,1,37,9.0,8 a 11 anos,2.0,37 a 41 semanas,Única,4,10.0
3,1,30,5.0,12 anos ou mais,0.0,37 a 41 semanas,Única,3,10.0
4,1,30,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,10.0
...,...,...,...,...,...,...,...,...,...
27023,1,32,2.0,12 anos ou mais,1.0,32 a 36 semanas,Única,4,9.0
27024,1,19,1.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,9.0
27025,1,24,2.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0
27026,1,21,2.0,8 a 11 anos,1.0,32 a 36 semanas,Única,4,9.0
27027,1,18,5.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,8.0

In [36]:
# 4) seu código aqui
#usando o subset para deletar as linhas com nulos em uma coluna especifica.
df = df.dropna(subset=['APGAR5'])
df.isnull().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE      315
ESCMAE         310
QTDFILVIVO    1566
GESTACAO      1216
GRAVIDEZ        76
CONSULTAS        0
APGAR5           0
dtype: int64

In [37]:
# 5) seu código aqui
#vamos usar .fillna com dicionario para mostrar qual colunas queremos substituir.
df = df.fillna({'ESTCIVMAE': 9, 'CONSULTAS': 9})

In [38]:
# 6) Seu código aqui
#vamos usar .fillna com dicionario para mostrar qual colunas queremos substituir.
df = df.fillna({'QTDFILVIVO': 0})
df.isnull().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE        0
ESCMAE         310
QTDFILVIVO       0
GESTACAO      1216
GRAVIDEZ        76
CONSULTAS        0
APGAR5           0
dtype: int64

In [49]:
# 7) seu código aqui
# na coluna GRAVIDEZ vamos retirar as linhas com NaN, ja que queremos analisar
#a relação entre partos com risco para o bebê e algumas condições como tempo de parto
df = df.dropna(subset=['GRAVIDEZ'])


# PAra a coluna ESCMAE também vamos tirar os Nan, coma  variabilidade metabólica entre as idades da criaça assumir
# qualquer valor aqui pode nos levar a uma conclusão errada, é melhor utilizar apenas os dados que temos certeza. 
df = df.dropna(subset=['ESCMAE'])

# Para a gestação vamos fazer o mesmo devido as grandes diferenças entre etapas da gestação, com isso vamos perder cerca de  
# 4,5% dos dados, mas nosso modelo será mais acurado 
df = df.dropna(subset=['GESTACAO'])

df.isnull().sum()

LOCNASC       0
IDADEMAE      0
ESTCIVMAE     0
ESCMAE        0
QTDFILVIVO    0
GESTACAO      0
GRAVIDEZ      0
CONSULTAS     0
APGAR5        0
dtype: int64

In [52]:
# 8) seu código aqui

df.loc[df['APGAR5'] <= 3, 'asf_cat'] = 'asfixia severa'
df.loc[(df['APGAR5'] > 3) & (df['APGAR5'] <= 5),
       'asf_cat'] = 'asfixia moderada'
df.loc[(df['APGAR5'] > 5) & (df['APGAR5'] <= 7),
       'asf_cat'] = 'asfixia leve'
df.loc[(df['APGAR5'] > 7), 'asf_cat'] = 'normal'

normal              24946
asfixia leve          302
asfixia severa         68
asfixia moderada       59
Name: asf_cat, dtype: int64

In [53]:
#ver quantas linhas tem o df = 25375
df.info

<bound method DataFrame.info of        LOCNASC  IDADEMAE  ESTCIVMAE           ESCMAE  QTDFILVIVO  \
0            1        19        5.0      8 a 11 anos         0.0
1            1        29        2.0      8 a 11 anos         1.0
2            1        37        9.0      8 a 11 anos         2.0
3            1        30        5.0  12 anos ou mais         0.0
4            1        30        2.0      8 a 11 anos         1.0
...        ...       ...        ...              ...         ...
27023        1        32        2.0  12 anos ou mais         1.0
27024        1        19        1.0      8 a 11 anos         0.0
27025        1        24        2.0      8 a 11 anos         0.0
27026        1        21        2.0      8 a 11 anos         1.0
27027        1        18        5.0      8 a 11 anos         1.0

              GESTACAO GRAVIDEZ  CONSULTAS  APGAR5 asf_cat
0      37 a 41 semanas    Única          4    10.0  normal
1      37 a 41 semanas    Única          4     9.0  normal
2      37 a 41 semanas    Única          4    10.0  normal
3      37 a 41 semanas    Única          3    10.0  normal
4      37 a 41 semanas    Única          4    10.0  normal
...                ...      ...        ...     ...     ...
27023  32 a 36 semanas    Única          4     9.0  normal
27024  37 a 41 semanas    Única          4     9.0  normal
27025  37 a 41 semanas    Única          4    10.0  normal
27026  32 a 36 semanas    Única          4     9.0  normal
27027  37 a 41 semanas    Única          4     8.0  normal

[25375 rows x 10 columns]>

In [54]:
# fazer a proporção da coluna ASF_CAT
df['asf_cat'].value_counts()/25375

normal              0.983094
asfixia leve        0.011901
asfixia severa      0.002680
asfixia moderada    0.002325
Name: asf_cat, dtype: float64

In [55]:
# 9) seu código aqui
# por snake case ele quis dizer em minuscula?
df.columns = df.columns.str.lower()
df

,locnasc,idademae,estcivmae,escmae,qtdfilvivo,gestacao,gravidez,consultas,apgar5,asf_cat
0,1,19,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0,normal
1,1,29,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,9.0,normal
2,1,37,9.0,8 a 11 anos,2.0,37 a 41 semanas,Única,4,10.0,normal
3,1,30,5.0,12 anos ou mais,0.0,37 a 41 semanas,Única,3,10.0,normal
4,1,30,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,10.0,normal
...,...,...,...,...,...,...,...,...,...,...
27023,1,32,2.0,12 anos ou mais,1.0,32 a 36 semanas,Única,4,9.0,normal
27024,1,19,1.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,9.0,normal
27025,1,24,2.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0,normal
27026,1,21,2.0,8 a 11 anos,1.0,32 a 36 semanas,Única,4,9.0,normal
27027,1,18,5.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,8.0,normal